<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12">
    <h6>Compétence</h6>

    <div class="row">
      <div class="col-4">
        <span class="title">Niveau d’étude:</span>
      </div>
      <div class="col-6">
        <span class="content">Etudes Primaires</span>
      </div>
      <div class="col-1">
        <i class="glyph-icon simple-icon-flag text-muted"></i>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <span class="title">Langue(s):</span>
      </div>
      <div class="col-6">
        <span class="content">Français</span>
      </div>
      <div class="col-1">
        <img
          src="../../../../../assets/icons/ic_flag_48px.svg"
          alt=""
          srcset=""
        />
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <span class="title">Dialecte(s):</span>
      </div>
      <div class="col-6">
        <span class="content">Fon; Dindi; Idatcha</span>
      </div>
      <div class="col-1">
        <i class="glyph-icon simple-icon-flag text-muted"></i>
      </div>
    </div>

    <h6>Autre</h6>

    <div class="row">
      <div class="col-4"><span class="title">Technicien:</span></div>
      <div class="col-6"><span class="content">Jean PAUL</span></div>
      <div class="col-1">
        <i class="glyph-icon simple-icon-flag text-muted"></i>
      </div>
    </div>

    <div class="row">
      <div class="col-4"><span class="title">Organization:</span></div>
      <div class="col-6"><span class="content">RéPAB</span></div>
      <div class="col-1">
        <img
          src="../../../../../assets/icons/ic_flag_48px.svg"
          alt=""
          srcset=""
        />
      </div>
    </div>

    <div class="row">
      <div class="col-4"><span class="title">Statut:</span></div>
      <div class="col-6"><span class="content">Actif</span></div>
      <div class="col-1">
        <img
          src="../../../../../assets/icons/ic_flag_48px.svg"
          alt=""
          srcset=""
        />
      </div>
    </div>
  </div>

  <div class="offset-1 col-lg-5 col-md-5 col-sm-12">
    <h6>Adresse</h6>

    <div class="row">
      <div class="col-4"><span class="title">Adresse 1:</span></div>
      <div class="col-4"><span class="content">Avrotou</span></div>
      <div class="col-2">
        <i class="glyph-icon simple-icon-flag text-muted"></i>
      </div>
    </div>

    <div class="row">
      <div class="col-4"><span class="title">Adresse 2:</span></div>
      <div class="col-4"><span class="content">Cotonou</span></div>
      <div class="col-2">
        <img
          src="../../../../../assets/icons/ic_flag_48px.svg"
          alt=""
          srcset=""
        />
      </div>
    </div>

    <div class="row">
      <div class="col-4"><span class="title">Adresse 3:</span></div>
      <div class="col-4"><span class="content">Littoral</span></div>
      <div class="col-2">
        <i class="glyph-icon simple-icon-flag text-muted"></i>
      </div>
    </div>
  </div>
</div>
