<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-12">
    <div class="card card-custom">
      <div class="card-body">
        <h5 class="card-title">Farmers Lists</h5>
        <div class="search-sm d-inline-block mr-1 mb-1 align-top">
          <input class="form-control" placeholder="Recherche" />
        </div>
        <div class="dashboard-list-with-user">
          <perfect-scrollbar
            class="scroll"
            [config]="{ suppressScrollX: true, wheelPropagation: false }"
          >
            <div
              *ngFor="let ticket of data"
              class="d-flex flex-row mb-3 pb-3 border-bottom"
            >
              <a routerLink="#">
                <img
                  [src]="ticket.thumb"
                  [alt]="ticket.title"
                  class="
                    img-thumbnail
                    border-0
                    rounded-circle
                    list-thumbnail
                    align-self-center
                    xsmall
                  "
                />
              </a>
              <div class="pl-3 pr-2 div-name-phone">
                  <p class="font-weight-medium mb-0">{{ ticket.fullname }}</p>
                  <p class="text-muted mb-0 text-small">
                    {{ ticket.phone }}
                  </p>
              </div>
            </div>
          </perfect-scrollbar>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-8 col-md-8 col-sm-12">
    <div class="row mb-2">
      <div class="col-md-12 col-lg-12 col-12 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-row mb-3">
              <img
                src="../../../../assets/img/photo.png"
                class="
                  img-thumbnail
                  border-0
                  rounded-circle
                  list-thumbnail
                  align-self-center
                "
              />
              <div class="pl-3 pr-2 profile-details">
                <p class="font-weight-medium mb-0">LOKPO Katherine</p>
                <p class="text-muted mb-0 text">Avotrou, AKPAKPA LITTORAL</p>
                <p class="mb-0 text text-dark">Verified</p>
                <p class="mb-0 text text-dark p-call">
                  <i class="simple-icon-phone text-primary"></i> +229 96 63 63
                  63
                </p>
                <button type="button" class="btn btn-sm btn-primary btn-update">
                  Modifier
                </button>
              </div>
            </div>
          </div>
          <tabset class="card-tabs">
            <tab heading="Bio" class="card-body">
              <app-bio></app-bio>
            </tab>
            <tab heading="Informations" class="card-body">
              <app-informations></app-informations>
            </tab>
            <tab heading="Farms" class="card-body">
              <app-farms></app-farms>
            </tab>
            <tab heading="Finances" class="card-body"> </tab>
            <tab heading="Tracability" class="card-body"> </tab>
            <tab heading="Mapping" class="card-body"> </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>
