.card {
  height: calc(100% - 100px);
  min-height: 740px;
}

.card-body {
  max-height: 150px;
}

.card-title {
  font-size: 16px;
  color: black;
  font-weight: 500;
}

.search-sm {
  width: 100%;

  input {
    height: 40px;
    border-radius: 8px;
    padding-left: 42px;
    font-size: initial;
    padding-top: 6px;
  }
}

.search-sm::after {
  font-family: "simple-line-icons";
  content: "î‚";
  font-size: 19px;
  color: #754c29;
  position: absolute;
  right: 10px;
  text-align: center;
  cursor: pointer;
  top: 6px;
  left: -83%;
}

.scroll {
  height: calc(100% - 100px);
  min-height: 894px;
  margin-top: 2rem;
}

.div-name-phone > p {
  line-height: 30px;
}

.profile-details {
  margin-top: 12px;
  p {
    line-height: 28px !important;
  }
}

.profile-details > p {
  font-size: 17px;
  color: #754c29;
  font-weight: bolder;
}

.p-call {
  display: block;
  position: absolute;
  right: 18px;
  top: 90px;
}

.btn-update {
  display: block;
  position: absolute;
  right: 18px;
  top: 4%;
  font-size: initial;
  height: 37px;
  width: 143px;
}
