<div class="row">
  <div class="float-right">
    <p class="p-statut">
      <img src="../../../../../assets/icons/ic_tune.svg" alt="" srcset="" />
      Statut parcelle
    </p>
  </div>
  <div class="col-12 list">
    <div>
      <div class="d-flex flex-grow-1 min-width-zero">
        <div
          class="
            card-body
            align-self-center
            d-flex
            flex-column flex-md-row
            justify-content-between
            min-width-zero
            align-items-md-center
          "
        >
          <p class="mb-0 text-muted text-small w-15 w-xs-100">
            &nbsp;&nbsp;Code parcelle
            <br />
            <span>PARC_5065_ANANAS05</span>
          </p>
          <p class="mb-0 text-muted text-small w-15 w-xs-100">
            &nbsp;&nbsp;Spéculation <br />
            <span>Ananas</span>
          </p>
          <p class="mb-0 text-muted text-small w-15 w-xs-100">
            &nbsp;&nbsp;Superficie parcelle <br />
            <span>3.84 Ha</span>
          </p>
          <p class="mb-0 text-muted text-small w-15 w-xs-100">
            &nbsp;&nbsp;Provider <br />
            <span>Jean HOUNNOU</span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 list">
    <div>
      <div class="d-flex flex-grow-1 min-width-zero">
        <div
          class="
            card-body
            align-self-center
            d-flex
            flex-column flex-md-row
            justify-content-between
            min-width-zero
            align-items-md-center
          "
        >
          <p class="mb-0 text-muted text-small w-15 w-xs-100">
            &nbsp;&nbsp;Code parcelle
            <br />
            <span>PARC_5065_ANANAS05</span>
          </p>
          <p class="mb-0 text-muted text-small w-15 w-xs-100">
            &nbsp;&nbsp;Spéculation <br />
            <span>Soja</span>
          </p>
          <p class="mb-0 text-muted text-small w-15 w-xs-100">
            &nbsp;&nbsp;Superficie parcelle <br />
            <span>3.84 Ha</span>
          </p>
          <p class="mb-0 text-muted text-small w-15 w-xs-100">
            &nbsp;&nbsp;Provider <br />
            <span>Jean HOUNNOU</span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 list">
    <div>
      <div class="d-flex flex-grow-1 min-width-zero">
        <div
          class="
            card-body
            align-self-center
            d-flex
            flex-column flex-md-row
            justify-content-between
            min-width-zero
            align-items-md-center
          "
        >
          <p class="mb-0 text-muted text-small w-15 w-xs-100">
            &nbsp;&nbsp;Code parcelle
            <br />
            <span>PARC_5065_ANANAS05</span>
          </p>
          <p class="mb-0 text-muted text-small w-15 w-xs-100">
            &nbsp;&nbsp;Spéculation <br />
            <span>Arachide</span>
          </p>
          <p class="mb-0 text-muted text-small w-15 w-xs-100">
            &nbsp;&nbsp;Superficie parcelle <br />
            <span>3.84 Ha</span>
          </p>
          <p class="mb-0 text-muted text-small w-15 w-xs-100">
            &nbsp;&nbsp;Provider <br />
            <span>Jean HOUNNOU</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
