<h6>Personnel</h6>

<div class="row">
  <div class="col-4">
    <span class="title">Nom & Prénom(s):</span>
  </div>

  <div class="col-4">
    <span class="content">TOGBAHO Justine</span>
  </div>

  <div class="col-2">
    <i class="glyph-icon simple-icon-flag text-muted"></i>
  </div>
</div>

<div class="row">
  <div class="col-4">
    <span class="title">Date de naissance:</span>
  </div>

  <div class="col-4">
    <span class="content">12/03/1980 </span>
  </div>

  <div class="col-2">
    <img src="../../../../../assets/icons/ic_flag_48px.svg" alt="" srcset="" />
  </div>
</div>

<div class="row">
  <div class="col-4">
    <span class="title">Numéro de téléphone:</span>
  </div>

  <div class="col-4">
    <span class="content">00229 33 15 92 72</span>
  </div>

  <div class="col-2">
    <i class="glyph-icon simple-icon-flag text-muted"></i>
  </div>
</div>

<h6>Data collection</h6>

<div class="row">
  <div class="col-4">
    <span class="title">Provider:</span>
  </div>

  <div class="col-4">
    <span class="content">Paul SARTRE</span>
  </div>

  <div class="col-2">
    <i class="glyph-icon simple-icon-flag text-muted"></i>
  </div>
</div>

<div class="row">
  <div class="col-4">
    <span class="title">Submition date:</span>
  </div>

  <div class="col-4">
    <span class="content">13 April 2021 at 12:03:33 </span>
  </div>

  <div class="col-2">
    <img src="../../../../../assets/icons/ic_flag_48px.svg" alt="" srcset="" />
  </div>
</div>
